# FastAPI and server
fastapi==0.121.0
uvicorn[standard]==0.34.2
python-multipart==0.0.20

# Database
sqlalchemy==2.0.44
asyncpg==0.30.0
psycopg==3.1.18
alembic==1.17.1

# Environment and validation
pydantic==2.12.3
pydantic-settings==2.11.0
python-dotenv==1.2.1
email-validator==2.1.0

# Stock data
alpha-vantage==3.0.0
pandas==2.3.3
numpy<2.0.0

# Background tasks

# Websockets (built into FastAPI)

# Testing
pytest==8.4.2
httpx==0.28.1

# Authenticeation
python-jose[cryptography]==3.5.0
bcrypt==5.0.0
